@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        <h1>Hi there!</h1>
        <p>
            Lorem ipsum dolor sit amet, legere ancillae ne vis. Ne vim laudem
            accusam consectetuer, eu utinam integre abhorreant sea. Quo eius veri
            ei.
        </p>
        <form id="content">
            <fieldset>
                <legend>Lorem ipsum</legend>
                <div>
                    <select>
                        <option>Lorem</option>
                        <option>Ipsum</option>
                    </select>
                </div>
                <div>
                    <button type="button">Lorem</button>
                </div>
                <div>
                    <input type="text" value="Lorem ipsum" />
                </div>
                <div>
                    <input type="search" value="Lorem ipsum" />
                </div>
                <div>
                    <label><input checked type="checkbox" /> Lorem</label>
                    <label><input type="checkbox" /> Ipsum</label>
                </div>
                <div>
                    <label><input checked name="foo" type="radio" /> Lorem</label>
                    <label><input name="foo" type="radio" /> Ipsum</label>
                </div>
            </fieldset>
        </form>
    </div>
