
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Welcome to Meme.co!</b></h4>
<ul>
    <li>
        <p>
            Hello! Welcome to Meme.Co, we are happy you are here. Meme.co is a social media site where you can post,
            like/dislike, and comment on memes. On this page you will find a quick overview of Meme.co and what is has
            to offer. We hope you enjoy!
        </p>
    </li>
</ul>

<!--
   Overview and Tutorial web page
    On your menu bar, you should have a "overview" link which brings up a web page giving an overview of your project. \done\
    This overview should contain:
    (1) important aspects and features of the project 
    (2) "how to use" the project,
    (3) any non-obvious contributions (e.g., significant DB work).
    -->

<h5><b>Important Aspects and Features of the Project</b></h5>
<ul>
    <li>
        <p>
            <!--Email: account confirmation, password reset-->
        </p>
    </li>
    <li>
        <p>
            <!--User theme: pick and save/load theme from db-->
        </p>
    </li>
    <li>
        <p>
            <!--Commenting: CRUD -->
        </p>
    </li>
    <li>
        <p>
            <!--Editing meme to post -> posting memes-->
        </p>
    </li>
    <li>
        <p>
            <!--Searching for users-->
        </p>
    </li>
    <li>
        <p>
            <!--Profile page-->
        </p>
    </li>
    <li>
        <!--Post page-->
    </li>
    <li>
        <p>
            <!--Related Memes-->
        </p>
    </li>
</ul>







<h5><b>How to Use</b></h5>
<ul>
    <li>
        <p>
            First off we would like you to create an account by click on the register button above and following through the steps.
            Upon creation of you account you will recieve and email notification.
        </p>
    </li>
    <li>
        <p>
            Once signed you are logged in, in the homepage you will find a feed
            of posts (memes) that users have posted before you. To browse the feed simply scroll up and down the page.
            There are also filter indicators that you can choose from (Popular, Following, Fresh).
            If you like or dislike a meme feel free to express you feelings by selecting the
            appropriate like of dislike button.
        </p>
    </li>
    <li>
        <p>
            If you would like to comment on a post, click on the meme image and you will be taken
            to the meme's, individual page. If you are signed in you can comment on the post
            by simply typing in your comment in the indicate area. Lets say you miss spelled a
            word by retyping in the indicated area and pressing save, your comment will be updated.
            Or lets say you no longer like your comment, you can click on the delete button.
            Below the Post you will find related memes. If other users used a related template
            you will see other user's posts, otherwise you will be given a collection of random memes.
            If you see a meme you like feel free to click on to be taken to its individual page.
        </p>
    </li>
    <li>
        <p>
            <!--Talk about profile page (other users vs their own page) follow button-->
        </p> 
    </li>
    <li>
        <p>
            <!--Talk about meme editor, add image/pick template -> add text (color/font size)  post (description) (export )-->
        </p>
    </li>
    <li>
        <p>
            <!--Talk about dark/light theme-->
        </p>
    </li>
    <li>
        <p>
            <!--Talk about  search for users-->
        </p>
    </li>
</ul>




<h5><b>Non-obvious Contributions</b></h5>
<!--Posting memes saves the files to the DB-->
<!--Seed file -->
<!--Post page/ home page likes dislikes buttons/ prgoress bar-->
<!--search users-->
<!--sql injection protected-->