
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OVERVIEW PAGE</h1>

<p>
    Overview and Tutorial web page
    On your menu bar, you should have a "overview" link which brings up a web page giving an overview of your project.  
    This overview should contain (1) important aspects and features of the project, (2) "how to use" the project, 
    and (3) any non-obvious contributions (e.g., significant DB work).
</p>


