<!--
  Author:    Jose Monterroso
  Partner:   Jasen Lassig, Eli Hebdon
  Date:      November 27, 2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jose, Jasen, Eli - This work may not be copied for use in Academic Coursework.

  I, Jose, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    Displays the related Posts. The posts can be clicked where they each link to their respectd pages
-->

@{
    @using Microsoft.AspNetCore.Identity
    @using MemeCo.Areas.Identity.Data
    @inject UserManager<MemeCoUser> userManager
    @model IEnumerable<Post>
    IEnumerable<MemeCo.Models.Post> posts = Model;
}

<div id="related-memes-partial" class="post container">
    <div class="card d-block mx-auto">
        <h5 class="card-header">Related Memes</h5>
        <div class="card-body">
            <div class="scrolling-wrapper">
                @foreach (Post post in posts)
                {
                    string profilePic = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(post.User.ProfilePicture));
                    string imgSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(post.Meme));
                    <div class="card-holder"  >
                        <h6 class="card-header">
                            <a href="/@post.User.UserName">
                                <img class="profile-pic rounded-circle" src="@profilePic" width="10" height="10">
                                @post.User.UserName
                            </a>
                        </h6>
                        <div class="holder-img">
                            <a href="/Post/@post.ID">
                                <img class="card-img-top img-fluid related-img" src="@imgSrc" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>