/**
 * Author:    Jose Monterroso
 * Partner:   Jasen Lassig, Eli Hebdon
 * Date:      Novemeber 13, 2019
 * Course:    CS 4540, University of Utah, School of Computing
 * Copyright: CS 4540 and Jose, Eli, Jasen - This work may not be copied for use in Academic Coursework.
 *
 * I, Jose, certify that I wrote this code from scratch and did not copy it in part or whole from 
 * another source.  Any references used in the completion of the assignment are cited in my README file.
 *
 * File Contents
 *
 *    CSS File for Dark webpage theme
 */

/*Dark theme body*/
body {
    background-color: #232323;
    color: rgb(240, 240, 240);
}

/*Navbar style*/
a {
    color: #00b0ff;
}

.navb {
    border: 1px solid #00b0ff;
    color: #00b0ff;
}



.navbar {
    background-color: #212121;
    border-bottom: .5px groove #000000;
}

/*Dark theme logo*/
#Logo {
    content: url(../files/DarkLogo.png);
}

/*Footer*/
.footer {
    background-color: #212121;
    border-top: .5px groove #000000;
}

/*Main feed Posts*/
.post .mx-auto {
    background-color: #232323;
    color: rgb(240, 240, 240);
}

.card {
    border-left: 3px groove #212121;
    border-bottom: 3px groove #212121;
    border-top: 3px groove #212121;
    border-right: 3px groove #212121;
}

hr {
    display: block;
    height: .5px;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
}

.card-header {
    color: #00b0ff;
    background: #212121;
    border-top: .5px groove #212121;
    border-bottom: .5px groove #212121;
    border-left: .5px groove #212121;
}

.card-body {
    background-color: #232323;
    color: rgb(240, 240, 240);
    border-left: 1px solid #232323;
    border-bottom: 1px solid #232323;
}

#posts {
    border: none;
}

#dropdownMenuButton {
    background-color: #232323;
    color: #00b0ff;
    border: none;
}
/*Navbar dropdown*/
#profile-dropdown {
    background-color: #212121;
    color: #00b0ff;
    border: none;
}

.dropdown-menu {
    background-color: #232323;
}

.dropdown-item {
    color: #00b0ff;
}

.dropdown-item:hover {
   color: #0071bc;
   background-color: #F5F5F5;
}

div#time {
    color: white;
    font-size: 10px;
}

.card .holder {
    border-top: 2px groove #212121;
    border-right: 2px groove #212121;
    border-bottom: 2px groove #212121;
    border-left: 2px groove #212121;
}

.holder-img {
    border: none;
}

.navbar-toggler-icon {
    color: #00b0ff;
}

.modal-content {
    background-color: #212121;
    color: white;
}

.close {
    color: #00b0ff;
}

.close:hover {
    color: #00b0ff;
}
/**Post a meme modal*/
.modal-header {
    border-bottom: #232323;
}

.modal-footer {
    border-top: #232323;
}

.modal-body {
    border-top: #232323;
    border-bottom: #232323;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen) > .swal2-modal {
    margin: auto;
    background-color: #232323;
}
