/**
 * Author:    Jose Monterroso
 * Partner:   Jasen Lassig, Eli Hebdon
 * Date:      Novemeber 13, 2019
 * Course:    CS 4540, University of Utah, School of Computing
 * Copyright: CS 4540 and Jose, Eli, Jasen - This work may not be copied for use in Academic Coursework.
 *
 * I, Jose, certify that I wrote this code from scratch and did not copy it in part or whole from 
 * another source.  Any references used in the completion of the assignment are cited in my README file.
 *
 * File Contents
 *
 *   Overall page css file
 */

a:hover {
    text-decoration: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Post Css*/
.post {
    padding-top: 4rem;
}

/*Like Buttons*/
.like_buttons {
    display: inline-block;
}

#posts {
    border: 1px solid #dbe0f1;
}

.progress {
    margin-top: 1rem;
}

.num-comments {
    float: right;
}

.card-title {
    margin: 1rem;
}

.post-username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.profile-pic {
    border: 1px solid grey;
}
#text-color-label {
    padding-left: 1rem;
}

#empty-feed {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#btn-Convert-Html2Image {
    color: white;
    text-decoration: none;
}

#editor-window {
    margin-top: 3rem;
}

#description-box {
    margin-left: 1rem;
    margin-right: 1rem;
}

#upload-btn {
    position: relative;
    overflow: hidden;
}

ul li {
    padding-right: 1rem;
}

.file {
    visibility: hidden;
    position: absolute;
}

#preview-btn {
    width: auto;
}

#meme-content {
    width: 800px;
    padding-bottom: 0;
   
}

#image {
    width: 535px;
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

#preview-btn {
    width: 100%;
}

#meme-text {
    width: 100%;
    height: 150px;
    background-color: white;
    display:block;
}

#related-memes-partial {
    padding-right: 3rem;
}
#font-size-label {
    padding-right: 1rem;
}

.text-block {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 1px solid black;
}

.template-scroller {
    height: 160px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.scrolling-wrapper {
    height: 240px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card-holder {
    display: inline-block;
    padding-bottom: 3rem;
    vertical-align: top;
}

#meme-templates {
    padding-top: 1rem;
}

.template {
    display: inline-block;
    vertical-align:top;
}


